@font-face {
  font-family: 'Metropolis';
  src: local('Metropolis'), url(./assets/fonts/Metropolis-Regular.otf) format('otf');
}

body {
  margin: 0;
  font-family: Metropolis; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
